# Get parameters

Process the synthetic data to obtain parameters for our simulation.

The mean inter-arrival time was 3.98 mins and the mean service time was 9.99 mins. We will round these to 4 and 10 mins, respectively.

In [1]:
# pylint: disable=missing-module-docstring
import pandas as pd

## Import data

In [2]:
# Import the dataset
df = pd.read_csv("../inputs/NHS_synthetic.csv", dtype={
    "ARRIVAL_TIME": str,
    "SERVICE_TIME": str,
    "DEPARTURE_TIME": str
})
df.head()

,ARRIVAL_DATE,ARRIVAL_TIME,SERVICE_DATE,SERVICE_TIME,DEPARTURE_DATE,DEPARTURE_TIME
0,2025-01-01,0001,2025-01-01,0007,2025-01-01,0012
1,2025-01-01,0002,2025-01-01,0004,2025-01-01,0007
2,2025-01-01,0003,2025-01-01,0010,2025-01-01,0030
3,2025-01-01,0007,2025-01-01,0014,2025-01-01,0022
4,2025-01-01,0010,2025-01-01,0012,2025-01-01,0031

## Arrival times

In [3]:
# Combine date/time and convert to datetime
df["arrival_datetime"] = pd.to_datetime(
    df["ARRIVAL_DATE"] + " " + df["ARRIVAL_TIME"].str.zfill(4),
    format="%Y-%m-%d %H%M"
)

# Sort by arrival time and calculate inter-arrival times
df_sorted = df.sort_values("arrival_datetime")
df_sorted["iat_mins"] = (
    df_sorted["arrival_datetime"].diff().dt.total_seconds() / 60
)

# Get mean inter-arrival time
print(f"Mean inter-arrival time (mins): {df_sorted["iat_mins"].mean()}")

Mean inter-arrival time (mins): 3.9843611416442406

## Length of service

In [4]:
# Combine dates with times
df["service_datetime"] = pd.to_datetime(
    df["SERVICE_DATE"] + " " + df["SERVICE_TIME"].str.zfill(4)
)
df["departure_datetime"] = pd.to_datetime(
    df["DEPARTURE_DATE"] + " " + df["DEPARTURE_TIME"].str.zfill(4)
)

# Calculate time difference in minutes
time_delta = df["departure_datetime"] - df["service_datetime"]
df["service_mins"] = time_delta / pd.Timedelta(minutes=1)

# Find the mean length of service
print(f"Mean service length (mins): {df["service_mins"].mean()}")

Mean service length (mins): 9.991570393280572